<template name="inviteUser">
  <span id="login-dropdown-list" class="dropdown pull-right">
		<a class="dropdown-toggle" data-toggle="dropdown">Пригласить пользователя в комнату <b class="caret"></b></a>
		<div class="dropdown-menu">
      <form id="invite">
  			<input id="login-username" type="text" placeholder="Имя пользователя" name="username" class="form-control">
  		  <input type="submit" class="btn btn-primary col-xs-12 col-sm-12" value="Пригласить пользователя">
      </form>
		</div>
	</span>
</template>
