<template name="roomsList">
  <div class="panel panel-primary room">
    <div class="panel-heading">
       Список комнат
    </div>
    <div class="panel-body">
      <ul class="media-list">
        {{#each rooms}}
          {{> roomItem}}
        {{else}}
          <div class="media">
            <div class="media-body">
            Здесь пока нет комнат
            </div>
            <br />
            <small class="text-muted">Создайте новую комнату в верхнем левом углу (почти).</small>
          </div>
        {{/each}}

      </ul>
    </div>
  </div>
</template>
