<template name="room">
  <div class="panel panel-info room">
            <div class="panel-heading">
                {{title}}
            </div>
            <div class="panel-body chat-panel">
              <ul class="media-list" id="chat_front">
                {{#each messages}}
                  {{> messageItem}}

                {{else}}
                  <div class="media">
                    <div class="media-body">
                    Пока тут нет новых сообщений
                    </div>
                    <br />
                   <small class="text-muted">Печатайте сообщения внизу</small>
                  </div>
                {{/each}}
              </ul>
            </div>
            <div class="panel-footer">
              <form>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Введите сообщение" name="content" required="true" />
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button">Отправить</button>
                    </span>
                </div>
              </form>
            </div>
        </div>
</template>
